.container {
  padding: 10%;

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  div {
    .caption {
      margin-top: 15px;
    }

    span {
      font-size: 1.2rem;
      color: #bfcae1;
    }
  }

  .menu {
    margin-top: 20%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      font-weight: 600;
      padding: 12px 0px;
      border-radius: 6px;
      margin-bottom: 8px;
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .active {
      transform: translateX(7px);
      font-weight: 800;
    }

    li:hover {
      transform: translateX(7px);
      cursor: pointer;
    }
  }

  .footer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    // padding-left: 25px;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:visited {
      color: inherit;
    }

    i:hover {
      cursor: pointer;
      color: #bfcae1;
    }
  }
}
