.container {
  padding: 0% 5%;

  .about {
    margin: 5%;
    padding: 2%;
    h1 {
      color: #8296bb;
      font-weight: 100;
      font-size: 1.5rem;
    }

    div {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
  }

  .experience {
    margin-top: 50%;

    .experience-card {
      gap: 30px;
      margin: 5%;
      padding: 2%;

      &:hover {
        background-color: #1d2e5e;
        border-radius: 8px;
        cursor: pointer;
      }

      .dates {
        margin-top: 5px;
        color: #9aa9ca;
      }

      .info {
        margin-top: 5px;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.2rem;
          font-weight: 500;
        }

        ul {
          padding-left: 20px;
          li {
            margin-bottom: 5px;
          }
        }
      }

      .stack {
        display: flex;
        justify-content: start;
        gap: 15px;
        flex-wrap: wrap;

        span {
          font-size: 0.8rem;
          font-weight: 500;
          background-color: rgb(85, 214, 213, 20%);
          color: #55d4d4;
          border-radius: 25px;
          padding: 3px 15px;
        }
      }
    }
  }

  .projects {
    margin-top: 50%;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:visited {
      color: inherit;
    }

    .project-card {
      gap: 30px;
      margin: 5%;
      padding: 2%;

      .title-header {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;

        i {
          visibility: hidden;
          font-size: 25px;
        }
      }

      div {
        margin-top: 10px;

        span {
          font-size: 0.8rem;
          color: #8296bb;
        }
      }
    }

    .project-card:hover {
      background-color: #1d2e5e;
      border-radius: 8px;
      cursor: pointer;

      .title-header i {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bouncing-icon {
  display: inline-block;
  animation: bounce 0.5s infinite ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

@media (width > 1024px) {
  .container {
    padding: 10% 10% 0% 0%;
  }
}
